/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/files-import
/public/files-import.ink
/public/files-apotek
/public/files-apotek.ink
/public/storage
/public/storage.ink
/storage/*.key
/vendor
backup.sql
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
