@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../plugin.css';

@layer base {

    /* Firefox scrollbar style */
    .fi-ta-content,
    .fi-sidebar-nav {
        scrollbar-width: thin;
        /* "auto" or "thin" */
        scrollbar-color: rgb(var(--primary-500)) rgb(var(--gray-200));
        /* scroll thumb and track */
    }

    .filepond--root {
        border-radius: 0 !important;
    }

    .filepond--file {
        border-radius: 0 !important;
    }
}

@layer components {
    .fi-ta-content::-webkit-scrollbar,
    .fi-sidebar-nav::-webkit-scrollbar {
        @apply w-2 h-2;
        /* width of the entire scrollbar */
    }

    .fi-ta-content::-webkit-scrollbar-track,
    .fi-sidebar-nav::-webkit-scrollbar-track {
        @apply bg-gray-200;
        /* color of the tracking area */
    }

    .fi-ta-content::-webkit-scrollbar-thumb,
    .fi-sidebar-nav::-webkit-scrollbar-thumb {
        @apply bg-primary-500;
        /* color of the scroll thumb */
        /* border: 3px solid orange; */
        /* creates padding around scroll thumb */
    }

}

@config './tailwind.config.js';